.home-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.solicitudes-box {
  width: 380px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.solicitud-item {
  background: #fafafa;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 12px;
}
