.motos-wrapper {
  display: flex;
  gap: 40px;
  padding: 30px;
  justify-content: center;
}

.motos-lista, .moto-form {
  background: white;
  padding: 22px;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  width: 380px;
}

.lista-ul {
  padding: 0;
  margin: 0;
}

.moto-item {
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 12px;
  background: #fafafa;
  list-style: none;

  /* CENTRADO VISUAL PERFECTO */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.moto-placa {
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}

.moto-info p {
  margin: 2px 0;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  border-color: #4a8af4;
}

.moto-btn {
  background: #4a8af4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.moto-btn:hover {
  background: #3577e0;
}
