<header class="header">

  <h1 class="logo">D&T NRUTA</h1>

  <nav class="menu">

    @if (!usuario) {
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/registro">Registrarse</a>
    }

    @if (usuario) {

      <span class="usuario-label">Hola, {{ usuario.nombre }}</span>

      <a routerLink="/">Inicio</a>

      @if (usuario.tipo === 'admin') {
        <a routerLink="/checklist">Checklist</a>
        <a routerLink="/admin-solicitudes">Solicitudes</a>
      } @else {
        <a routerLink="/motos">Motocicletas</a>
        <a routerLink="/solicitudes">Solicitudes</a>
      }

      <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
    }

  </nav>

</header>
